<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Find a recipe from the ingredients you have!">
    <script src="https://kit.fontawesome.com/e874c4d243.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/styles.css">
    <title>
        <%= name %>
    </title>
</head>

<body>
    <header>
        <h1><a href="/">Recipe Finder <i class="fa-solid fa-magnifying-glass"></i></a></h1>
        <p>By: <a href="https://www.linkedin.com/in/benjamin-martinis-863350272/" target="_blank">Benjamin Martinis <i
                    class="fab fa-linkedin"></i></a></p>
    </header>
    <main class="meal-main">
        <h1 class="meal-name">
            <%= name %>
        </h1>
        <div class="meal-row">
            <p>Area: <%= area %>
            </p>
            <p>Category: <%= category %>
            </p>
        </div>
        <img class='meal-img' src="<%= imageURL %>" alt="<%= name %>" />
        <div class="meal-row">
            <div class="meal-info">
                <h2>Instructions:</h2>
                <p>
                    <%= instructions %>
                </p>
            </div>
            <div class="meal-info">
                <h2>Ingredients:</h2>
                <ul>
                    <% ingredient.forEach(function(ing){ %>
                        <li>
                            <%= ing %>
                        </li>
                        <% }); %>
                </ul>
            </div>
        </div>
        <% if(videoURL) { %>
            <iframe src="<%= videoURL %>" frameborder="0"></iframe>
            <% } %>
    </main>
    <footer>
        <p>Bulit with: <a href="https://www.themealdb.com/api.php" target="_blank">TheMealDB</a></p>
    </footer>
</body>

</html>